<table class="table table-striped">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>
                <input type="search" ng-model="query.title" placeholder="Search..." class="from-control">

            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in model | filter:query">
            <td>
                <img ng-src="{{::item.poster_url}}" alt="{{::item.title}}'s poster" title="{{::item.title}}">
            </td>
            <td>
                <b>{{::item.title}}</b> 
                {{ item.username}} :User
            </td>
            <td>
                {{::item.release_date | date: "dd/MM/yyyy"}}
            </td>
            <td>
                {{::item.rating}}
            </td>
            <td>
                <a href="#{{::getDetailUrl({ stuff: item }) }}" class="btn btn-default">View</a>
                <a href="#{{::reservMovie({ stuff: item }) }}" class="btn btn-default">Reserv</a>
            </td>
            No harcodear mi nombre de usuario con el que lo tiene reservado. Crear una fila debajo de todo menos del poster
        </tr>
    </tbody>
</table>
